ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
.profile {
  padding-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 320px;
  height: 100%;
  border: solid 3px rgb(207, 205, 212);
  background-color: rgb(233, 229, 229);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  flex-direction: column;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 90px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  background-color: #fff;
}
.item:not(:last-child) {
  margin-right: 4px;
}

.avatar {
  width: 180px;
}

.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
  color: rgb(138, 145, 151);
  margin-top: 5px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}

.tag {
  color: rgb(138, 145, 151);
  margin-top: 10px;
}

.location {
  color: rgb(138, 145, 151);
  margin-top: 10px;
}
